<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='main'>
        <a href='./artist'><h1>艺术家</h1></a>
        <br>
        <a href='./list'><h1>作品</h1></a>
      
      </div>
  </body>
</html>
